@using LezizSofralar.ViewModels
@using PagedList.Mvc;

@model PagedList.IPagedList<LezizSofralar.ViewModels.CategoryListViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}


<div class="white_bg">
    <div class="container margin_60">
        <div class="main_title">
            <h2 class="nomargin_top">Category</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
            <hr class="divider">
        </div><!-- End main_title -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="col-recipe">
                        <div class="photo">
                            <img src="http://placehold.it/400x400" alt="">
                            <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></span></span>
                        </div>
                        <div class="excerpt">
                            <h3><a href="#"> @item.DisplayName</a></h3>
                            <p>
                                @if (item.Description != null)
                                {@item.Description}
                            </p>
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                            </ul><!-- End stars -->
                        </div><!-- End excerpt -->
                    </div>
                </div>
            }

            <div class="col-md-12">
                <div class="text-center">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <nav class="navigation pagination">
                                <br />
                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                                @Html.PagedListPager(Model, page => Url.Action("Index"))
                                @*<div class="nav-links">
                        <a class="prev page-numbers">Previous</a>
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="page-numbers" href="#">3</a>
                        <a class="page-numbers" href="#">4</a>
                        <a class="page-numbers" href="#">5</a>
                        <a class="next page-numbers" href="#">Next</a>
                    </div>*@
                            </nav><!-- END pagination -->
                        </div>
                    </div>                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</div><!-- End white_bg RECIPES-->