@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- SubHeader -->
<section class="parallax-window" data-parallax="scroll" data-image-src="http://placehold.it/1400x520" data-natural-width="1400" data-natural-height="520">
    <div id="sub_header">
        <div class="container" id="sub_content">
            <div class="row">
                <div class="col-md-12">
                    <h1>More than <span class="number">50000</span> Recipe.</h1>
                    <h3>We Know How To Make Your Life Awesome.</h3>
                    <form method="post" action="#">
                        <div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="search-query" placeholder="Search...">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn_search" value="submit">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
</section>
<!-- End SubHeader -->